.bottle-card{
    border:1px solid gray;
    border-radius:8px;
    padding:16px;
    margin:16px;
    text-align:center;
}
.bottle-card img{
    width:200px;
    height:auto;
    margin-bottom:8px;
}